/* PRINT STYLE FOR RESUME PAGE */
@media print {
  * {
    background-color: white !important;
    color: black !important;
  }
  body {
    margin: 1cm !important;
    width: 100vw !important;
  }

  .header-flex,
  .footer {
    display: none !important;
  }

  .main-container {
    justify-content: flex-start !important;
  }

  .resume-article {
    box-shadow: none !important;
    padding: 0 !important;
    width: 90% !important;
  }

  .resume-section {
    page-break-inside: avoid;
  }
}
